.img {
  width: 100%;
  border-radius: 1rem;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.description {
  margin: 1.5rem 0;
  line-height: 1.5;
  color: var(--dark-gray);
}

.textContainer {
  & p,
  li,
  h2 {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  & li {
    list-style: inside;
    &::marker {
      color: var(--dark-purple);
    }
  }
}
