.wrapper {
  padding: 24px;
}

.container {
  display: flex;
  gap: 1rem;
  overflow: scroll;
}

.nftContainer,
.like {
  border: 1px solid var(--med-gray);
}

.nftContainer {
  max-width: 324px;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
  position: relative;

  & article {
    position: relative;
    text-align: center;
    padding: 36px 76px 27px 76px;

    & p {
      color: var(--dark-gray);
      font-size: 14px;
      line-height: 2;
    }
  }
}

.nftContainer .nft {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 302px;
  object-fit: cover;
}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  border: 2px solid white;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.like {
  position: absolute;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 24px;
  justify-content: center;
  gap: 8px;
  top: 12px;
  right: 12px;
  & svg {
    font-size: 1rem;
  }
  & p{
    font-weight: 700;
    font-size: 14px;
  }
}
