.container {
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }
}