:root {
  --dark-gray: #5d5d5b;
  --med-gray: rgba(207, 219, 213, 0.6);
  --light-gray: #ebf0f0;
  --light-green: #03db80;
  --light-purple: rgba(220, 208, 255, 0.8);
  --dark-purple: #7a52f4;
  --nav-height: calc(100vh - 96px);
  --max-width: 1320px;
}
