.container {
  padding: 24px;

  & div,
  article {
    flex-direction: column;
  }

  & article {
    text-align: left;
    max-width: 450px;

    & h1,
    > p {
      width: 100%;
    }
    & section {
      justify-content: space-between;
      width: 100%;
      margin-top: 1.5rem;
    }

    & .address {
      padding: 0 2rem;
    }
  }

  & .nftImg,
  article {
    width: 100%;
    margin: 0 auto 2rem;

    & > p {
      font-size: 14px;
      line-height: 1.75;
      margin-top: 14px;
    }
  }
}

.nftImg {
  max-width: 736px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 1rem;
}

.subTitle {
  font-size: 12px;
  color: var(--dark-gray);
  margin-bottom: 4px;
}

.visibility strong {
  display: inline-block;
  margin-left: 6px;
}

.bid {
  background-color: var(--med-gray);
  border-radius: 1rem;
  padding: 1.25rem 3rem;
  text-align: center;

  & h6 {
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0.25rem;
  }

  & p {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
  }
}

.form {
  position: relative;

  & label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
    display: inline-block;
  }

  & input,
  button {
    border-radius: 24px;
  }

  & input {
    width: 100%;
    border: 1px solid var(--med-gray);
    padding: 14px;

    &::placeholder {
      font-weight: 700;
      font-size: 14px;
      color: var(--dark-gray);
    }
  }

  & button {
    position: absolute;
    right: 5px;
    top: 33px;
    background-color: var(--dark-purple);
    padding: 10px 16px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}

@media screen and (min-width: 768px) {
  .container .address {
    padding: 0 2rem;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    & div {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    & article,
    .nftImg {
      margin: unset;
    }

    & article {
      height: 100%;
      & .address {
        padding: 0;
      }
    }
  }
  .visibility {
    margin-bottom: 2rem;
  }
}
