.col {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--med-gray);
  gap: 10px;
  width: 100%;
  max-width: 410px;
  
  & a {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    display: inline-block;
    color: black;
    font-weight: 700;
  }

  & .percent {
    margin-left: auto;
    color: var(--light-green);
  }

  & article p,
  .percent {
    font-size: 14px;
  }

  & .sellerID {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
  }

  & img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
  }
}
