.nav {
  padding: 24px;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
}

.navLinks {
  height: 100%;
  position: fixed;
  inset: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  justify-content: center;
  width: 0;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transition: width 0.3s ease-in, opacity 0.2s ease-in;

  & li a {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2;
    color: #5d5d5b;
    letter-spacing: 2px;
  }

  & .activeLink {
    font-weight: 600;
    color: black;
  }
}

.navLinks.visible {
  width: 100%;
  opacity: 1;
  pointer-events: all;
}

.closeIcon {
  position: fixed;
  top: 24px;
  right: 24px;
  pointer-events: none;
}

.closeIcon.visible {
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .nav > svg,
  .nav li svg {
    display: none;
  }

  .nav ul {
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 1;
    padding: 0;
    gap: 1.5rem;

    & li a {
      font-size: 0.9rem;
      text-transform: capitalize;
    }
  }
}
