.container {
  width: 100%;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
  position: relative;
  border: 1px solid var(--med-gray);

  & p {
    color: var(--dark-gray);
    font-size: 14px;
    line-height: 2;
  }
}

.container .nft {
  width: 100%;
  border-radius: 1rem 1rem 0px 0px;
  height: 302px;
  object-fit: cover;
  pointer-events: none;
  margin-bottom: 1rem;
}

.userImg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.price,
.user {
  width: 90%;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid var(--med-gray);
}

.price {
  margin-top: 1rem;
}

.price strong,
.user div {
  gap: 6px;
}

.user a {
  font-size: 14px;
  line-height: 21px;
  color: black;
}

@media screen and (min-width: 768px) {
  .container {
    width: 300px;
  }
}
