.nftContainer {
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
  position: relative;
  border: 1px solid var(--med-gray);
  margin-bottom: 2rem;

  & > section {
    width: 320px;
  }

  & article {
    position: relative;
    text-align: center;
    padding: 30px 76px 27px 70px;

    & p {
      color: var(--dark-gray);
      font-size: 14px;
      line-height: 2;
    }
  }
}

.nftContainer .nft {
  width: 100%;
  border-radius: 1rem 1rem 0px 0px;
  height: 302px;
  object-fit: cover;
  pointer-events: none;
}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  border: 2px solid white;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.price {
  width: 100%;
  justify-content: center;
  gap: 5px;
}
